 /* Custom styles for the sidebars */
 .leftUl {
     //margin-top: 40px;

     li {
         height: 50px;
         display: flex;
         align-items: center;
         justify-content: space-between !important;
         cursor: pointer !important;
        color:#fff;
        a{
            color:#fff
        }
         .k-icon {
             margin: 10px;
             margin-right: 20px;
         }
     }

     li:hover {
        transition: all 0.65s;
        background-color:rgba(27, 61, 135, 0.623);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color:#fff;
        a{
            color:#fff;
            font-size: 14px;
            transition: all 0.25s;
        }
     }

     li:last-child {
        width: 100%;
        border-bottom: none;
        font-weight: bold;
        position: absolute;
        bottom: 10px;
        color: blue; /* Change color of last li */
        cursor: pointer;
        .k-icon{
            font-size: 25px;
        }
      }
 }


 .rightUl {
     //margin-top: 40px;

     li {
         height: 50px;
         display: flex;
         align-items: center;
         justify-content: flex-start !important;
         cursor: pointer !important;
        color:#fff;
        a{
            color:#fff
        }
         .k-icon {
             margin: 10px;
             margin-left: 20px;
         }
     }

     li:hover {
        transition: all 0.65s;
        background-color:rgba(27, 61, 135, 0.623);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color:#fff;
        a{
            color:#fff;
            font-size: 14px;
            transition: all 0.25s;
        }
        
     }
 }

 .sidebar {
     position: fixed;
     top: 0;
     width: 160px;
     height: 100%;
     background-color: transparent;
     transition: transform 0.3s ease;
     z-index: 1000;
     margin-top: 10vh;;
 }

 .sidebar-left {
     left: -105px;

 }

 .sidebar-right {
     right: -105px;
 }

 .sidebar.show-left {
     transform: translateX(105px);
     transition: transform 0.3s ease;
     backdrop-filter: blur(2.625rem);

 }

 .sidebar.show-right {
     transform: translateX(-105px);
     transition: transform 0.3s ease;
     backdrop-filter: blur(2.625rem);
 }

 .content {
     margin-left: 60px;
     margin-right: 0;
     transition: transform 0.3s ease;
     height: auto;
     width: calc(100vw - 120px);
 }

 .rightNotLeftSidebarVisible {
    transition: transform 0.3s ease;
     width: calc(100vw - 220px);
     margin-right: 160px;
 }

 .leftNotRightSidebarVisible {
    transition: transform 0.3s ease;
     width: calc(100vw - 220px);
     margin-left: 160px;
 }

 .bothSidebarVisible {
    transition: transform 0.3s ease;
     width: calc(100vw - 320px);
     margin-left: 160px;
     margin-right: 160px;
 }


 .navMain{
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    .navbar {
        z-index: 1100;
        width:100vw;
        /* Ensure the navbar is above the sidebars */
        background-color: #0806180a;
        color: #fff;
        height:10vh;
        color: rgb(255, 255, 255);
        -webkit-box-shadow: inset -3px 6px 29px -21px rgba(255,255,255,0.37);
        -moz-box-shadow: inset -3px 6px 29px -21px rgba(255,255,255,0.37);
        box-shadow: inset -3px 6px 29px -21px rgba(255,255,255,0.37);
   
        .container-fluid {
            padding-right: 0 !important;
        }
        .navbar-brand{
           color :#fff;
        }
   
        .navRightMenu {
            display: flex;
            justify-content: center;
            align-items: center;
            width:7rem;
            transition: transform 0.3s ease;
            .mr-1rem{
               margin-right:1.5rem;
            }
            .userMenu{
               color: #161B2F;
               background: white;
               height: 38px;
               width: 12.5rem;
               /* border-bottom-left-radius: 26%; */
               border-bottom-left-radius: 24px;
               border-top-left-radius: 24px;
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding: 5px;
               .userName{
                white-space: nowrap;
                width: 6rem;
                overflow: hidden;
                text-overflow: ellipsis;
               }
            }
        }
    }

 }

 .bodyMain{
    overflow-y: auto;
    color:#fff;
 }

 .bodyMain::-webkit-scrollbar {
    width: 0.1em;
}
 
.bodyMain::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
}
 
.bodyMain::-webkit-scrollbar-thumb {
  background-color: var(--colors-primary--600);
  outline: 1px solid var(--colors-primary--700);
}

 .w-20rem{
    width:20rem !important;
    transition: width 2s
 }
 .w-7rem{
    width:8.8rem !important;
    width:20rem !important;
    transition: width 2s
 };

 #mainContent{
    height:90vh;
 }

 .k-popup {
    z-index: 1000; // Set the z-index of the dropdown menu
  }

  .dropdown-menu.show {
    display: block;
    position: absolute;
    top: 55px;
    a{
        font-size: 13px;
    }
}
.dropdown-menu.showNoti{
    display: block;
    position: absolute;
    top: 55px;
    width: 20rem;
    padding:5px;
    a{
        font-size: 13px;
    }
    .head{
        color:#161B2F;
        font-size: 14px;
        font-weight: bolder;

    }
    .markRead{
        color:#e46d0b;
        font-size: 12px;
        font-weight: bolder;
        text-decoration: underline;
    }
    .listMain{
        font-size: 11px;
        margin: 13px 0;
    }
    .top{
        margin-bottom:15px;
    }
}

.activeLang{
    background-color: #161B2F;
    a{
        color: #fff;
    } 
}