@import './themes/kendo-theme-custom.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import "@progress/kendo-font-icons/dist/index.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: (var(--background));
  color: (var(--text));
}

.light {
  --background: #ffffff;
  --text: #000000;
}

.dark {
  --background: #333333;
  --text: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.curp{
  cursor:  pointer !important;
}


button{
  background:#3f51b5;
  color:#fff;
  padding:5px;
  border-radius:3px;
  border-color:#3f51b5;
    
}

.w-100{
  width:100%
}

.glowing-text {
  color: #fff; /* Text color */
  text-shadow: 0 0 10px #00f, 0 0 20px #0ff, 0 0 30px #0f0, 0 0 40px #ff0, 0 0 50px #f00; /* Text shadow with multiple layers */
  animation: glow 1s infinite alternate; /* Animation for the glowing effect */
}

@keyframes glow {
  to {
    text-shadow: 0 0 20px #00f, 0 0 30px #0ff, 0 0 40px #0f0, 0 0 50px #ff0, 0 0 60px #f00; /* Change text shadow to create pulsating effect */
  }
}





